.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 90px;
    height: 20px;
    cursor: pointer;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background-color: transparent;
      margin-bottom: 5px;
      border-radius: 50%;
    }

    a {
      color: var(--gray-color);
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      flex-direction: column;
      font-weight: 500;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background-color: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.app__navbar-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
  position: relative;

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
